[Desktop Entry]
Categories=Qt;Development;Documentation
Encoding=UTF-8
Exec=/opt/qt57/bin/assistant-wrapper
Name=Qt 5.7.1 Assistant
GenericName=Document Browser
X-KDE-StartupNotify=true
Icon=QtProject-assistant
Terminal=false
Type=Application
