[Desktop Entry]
Exec=/opt/qt57/bin/qtcreator-wrapper %F
Icon=QtProject-qtcreator
Type=Application
Terminal=false
Name=Qt 5.7.1 Creator
GenericName=Integrated Development Environment
MimeType=text/x-c++src;text/x-c++hdr;text/x-xsrc;application/x-designer;application/vnd.nokia.qt.qmakeprofile;application/vnd.nokia.xml.qt.resource;
Categories=Qt;Development;IDE;
InitialPreference=9
