[Desktop Entry]
Name=Electronic Wechat
GenericName=File Synchronizer
Comment=Wechat
Exec=/home/fzheng/bin/electronic-wechat-linux-x64/electronic-wechat
Terminal=false
Type=Application
Icon=/home/fzheng/bin/electronic-wechat-linux-x64/electronic-wechat.png
Categories=Network;FileTransfer;
StartupNotify=false
